body {
  marglogoin: 0;
  font-family: Helvetica;
}

.header {
  padding: 0 45px;
  background-color: #283593;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: all 0.3s ease-out;
}

.nav a:hover {
  color: #c5cae9;
  transform: scale(1.1);
}

.nav li {
  margin-left: 20px;
}

.hero {
  /*   background-color: #c5cae9; */
  background-image: url("https://images.unsplash.com/photo-1631439646032-1ebe4637b87e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1533&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 45px;
  display: flex;
  justify-content: center;
}

.hero-inner {
  max-width: 760px;
}

.hero h1 {
  font-weight: normal;
  font-size: 4rem;
  margin: 0;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.btn {
  background-color: #3949ab;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1.2rem;
  display: inline-block;
}

.features {
  background-color: #e8eaf6;
  padding: 60px 45px;
}

.features-inner {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 45px;
  grid-row-gap: 45px;
}

.feature-item {
  box-shadow: 5px 10px #888888;
  border-radius: 10px;
  padding: 1rem;
}

.feature-item h3 {
  color: #283593;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.feature-item p {
  margin: 0;
  line-height: 1.6;
  color: #333;
}

.footer {
  text-align: center;
  padding: 20px 0;
  color: #999;
  font-size: 0.9rem;
}
